body {
  margin: 0%;
  background-color: burlywood;
}

.infoArt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nombreV apelV"
    "edadV"
    "dirV ciudadV paisV"
    "telefL telefV"
    "emailL emailV";
}

.infoArt .infoLabel {
  font-size: 8pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration: darkcyan;
  font-style: oblique;
}
.col{
float: right;
border: 5px solid darkblue;
  width: 5px;
  margin: 5%;
  padding: 5%;
}
.col1{
  float: left;
  border: 5px solid darkblue;
    width: 10px;
    margin: 5%;
    padding: 5%;
  }
  .container{
    float: left;
    border: 5px solid darkblue;
      width: 10px;
      margin: 5%;
      padding: 5%;

    }.container1{
      float: right;
      border: 5px solid darkblue;
        width: 10px;
        margin: 5%;
        padding: 5%;
      }
#nombreValue {
  grid-area: nombreV;
}
#apellidoValue {
  grid-area: apelV;
}
#edadValue {
  grid-area: edadV;
}
#direccionValue {
  grid-area: dirV;
}
#ciudadValue {
  grid-area: ciudadV;
}
#paisValue {
  grid-area: paisV;
}
#telefonoLabel {
  grid-area: telefL;
}
#telefonoValue{
  grid-area: telefV;
}
#emailLabel{
  grid-area: emailL;
}
#emailValue{
  grid-area: emailV;
}
