body {
    margin: 0%;
  }
.article{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:20px;
}
.article .card {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid firebrick;
  box-shadow: 1px 1px 1px 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}
.article .card a{
  text-decoration: none;
  color: floralwhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
}
.article .card a:hover{
    color:blue;
    font-weight: bolder;
}
