*{
  margin: 0px;
  padding: 0px;
}

div#general{
  margin: auto;
  margin-top: 200px;
  width: 960px;
  height: 800px;
  background-color: burlywood;
}
div#frame1{
  margin-top: 250px;
  width:300px;
  height: 500px;
  background-color: brown;
}
div#frame2{
width: 640px;
height: 200px;
background-color: brown;


}